<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="fontawesome/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css" />
  <!-- thu vien greenshock -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700,900" rel="stylesheet">

</head>
<body>


    



<div class="animation-effect">
  <div class="container text-center">
      <h2 class="title">effect animation</h2>

  <div class="tab-content">
    <div id="tab1" class="tab-pane fade in active">


      <div class="row">

        <div class="col-md-6 xoay">
           <div class="to">
            <h1 class="tieude">Hieu ung 1</h1>
            <div class="nap">
              
            </div>

            <div class="chu">
              hiệu ứng 1
            </div>
          </div>
        </div>
   

 <div class="col-md-6 xoay">
      
    <div class=" to to2 ">
      <h1 class="tieude">Hieu ung 2</h1>
      <div class=" nap nap2">
        
      </div>

      <div class=" chu chu2">
        hiệu ứng 2
      </div>
    </div>
 </div>

      </div>
      <div class="row">
      <div class="col-md-6">
        <div class="khung">
          <div class="nen"></div>
          <img src="img/intro-bg.jpg" alt="" class="">
          <p class="chuto">img animation right</p>
          <p class="chunho">img animation right</p>
          <div class="nen"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="khung">
          <img src="img/intro-bg.jpg" alt="" class="">
          <p class="chuto">img animation right</p>
          <p class="chunho">img animation right</p>
          <div class="nen"></div>
        </div>
      </div>

       <div class="col-md-6">
        <div class="khung2">
          <div class="nen2"></div>
          <img src="img/intro-bg.jpg" alt="" class="">
          <p class="chuto2">img animation right</p>
          <p class="chunho2">img animation right</p>
          <div class="nen2"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="khung2">
          <img src="img/intro-bg.jpg" alt="" class="">
          <p class="chuto2">img animation right</p>
          <p class="chunho2">img animation right</p>
          <div class="nen2"></div>
        </div>
      </div>


       <div class="col-md-6">
        <div class="khung3">
          <div class="nen3"></div>
          <img src="img/intro-bg.jpg" alt="" class="">
          <h2>Dream <span>Honey</span> <i>now</i></h2>
          <div class="nen3"></div>
          <div class="vien"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="khung3">
          <div class="nen3"></div>
          <img src="img/intro-bg.jpg" alt="" class="">
          <h2>Dream <span>Honey</span> <i>now</i></h2>
          <div class="nen3"></div>
          <div class="vien"></div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="khung4">
          <div class="nen4"></div>
          <img src="img/intro-bg.jpg" alt="" class="">
          <h2>Dream</h2>
          <p>hieu ung tang giam chieu cao chieu rong</p>
          <div class="nen4"></div>
          <div class="vienngang"></div>
          <div class="viendoc"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="khung4">
          <div class="nen4"></div>
          <img src="img/intro-bg.jpg" alt="" class="">
          <h2>Dream</h2>
          <p>hieu ung tang giam chieu cao chieu rong</p>
          <div class="nen4"></div>
          <div class="vienngang"></div>
          <div class="viendoc"></div>
        </div>

    </div>

        <div class="col-md-6">
         <div class="khung5">
            <div class="nen5"></div>
            <img src="img/intro-bg.jpg" alt="" class="">
            <div class="nen5"></div>
            <div class="vienduoi"></div>
            <h2>Bui tri Nhan</h2>
            <p>nhung chiec gio xe cho day hoa phuong em cho mua he cua toi di dau</p>
            <div class="icon">
              <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            </div>
            
          </div>
        </div>
      <div class="col-md-6">
          <div class="khung5">
            <div class="nen5"></div>
            <img src="img/intro-bg.jpg" alt="" class="">
            <div class="nen5"></div>
            <div class="vienduoi"></div>
            <h2>Bui tri Nhan</h2>
            <p>nhung chiec gio xe cho day hoa phuong em cho mua he cua toi di dau</p>
            <div class="icon">
              <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            </div>
            
          </div>

    </div>


</div>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="script.js" type="text/javascript" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://gsgd.co.uk/sandbox/jquery/easing/jquery.easing.1.3.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>
</body>
</html>
