<!DOCTYPE html>
<html lang="en">
<head>
  <title>Medic</title>
  <link rel="shortcut icon" type="img/favicon.png" href="img/favicon.png"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="fontawesome/css/all.min.css">
  <link rel="stylesheet prefetch" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css" />
 <link href="https://fonts.googleapis.com/css?family=Lato:100,400,900" rel="stylesheet">

 

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="30">
  
<div class="topbar">
  <div class="container">
    <div class="col-sm-7">
     
      <a href="" class="fa fa-phone"><span>0868258914</span></a>
      <a href="" class="fa fa-envelope"><span>nhanking123@gmail.com</span></a>
    </div>
    <div class="col-sm-5 hidden-xs">
       
          <ul class="phai">
          <li class="fab fa-facebook-f"></li>
          <li class="fab fa-twitter"></li>
          <li class="fab fa-pinterest-p"></li>
          <li class="fab fa-instagram"></li>
          <li class="fa fa-phone"></li>
          <li class="fa fa-envelope"></li>
        </ul>
     
    </div>
  </div>
</div>

<!-- end topbar -->


<div class="hieuung">

  <div class="container">
    <nav class="navbar navbar-default " role="navigation">
      <div class="container menu ">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="img/medic.png" alt=""></a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
         
           
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Home</a></li>
            <li><a href="#">About us clinic</a></li>
            <li><a href="#">What we offer</a></li>
            <li><a href="#">Make an appointment</a></li>
            <li><a href="#">Buy now</a></li>
           
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>

</div>
<div class="chuto">
         <h1>Bui Tri Nhan</h1>
      </div>
      <div class="chunho">
         <p>nhung chiec gio xe cho day hoa phuong em cho mua he cua toi di dau</p>
      </div>
      <a href="" class="btn btn-default">Make appointerment</a>
  <div class="container">
    <div class="row">
    <div class="col-xs-6">
      
    </div>
     <div class="col-xs-6">
      <img src="img/girl.png" alt="" class="img-responsive">
    </div>
    </div>
   
  </div>
  </div>
<!-- end hieuung -->



<div class="appointment">
  <div class="container">
    <div class="row text-center">
     <div class="tieude">
        <h1><i class="fas fa-caret-right"></i>The highest standard of health care<i class="fas fa-caret-left"></i></h1>
     </div>
      <p class="chuxam">Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam.</p>
      <div class="col-sm-3 text-center child-appointment">
        <img src="img/icon1.png" alt="" class="img-responsive">
        <div class="noidung text-center">
          <h3>Medication</h3>
        <p>Vitae adipiscing turpis. Aenean ligula nibh in, molestie id viverra a, dapibus at dolor.</p>
        </div>
      </div>
        <div class="col-sm-3 text-center child-appointment">
        <img src="img/icon2.png" alt="" class="img-responsive">
        <div class="noidung text-center">
          <h3>Medication</h3>
        <p>Vitae adipiscing turpis. Aenean ligula nibh in, molestie id viverra a, dapibus at dolor.</p>
        </div>
      </div>
        <div class="col-sm-3 text-center child-appointment">
        <img src="img/icon3.png" alt="" class="img-responsive">
        <div class="noidung text-center">
          <h3>Medication</h3>
        <p>Vitae adipiscing turpis. Aenean ligula nibh in, molestie id viverra a, dapibus at dolor.</p>
        </div>
      </div>
        <div class="col-sm-3 text-center child-appointment">
        <img src="img/icon4.png" alt="" class="img-responsive">
        <div class="noidung text-center">
          <h3>Medication</h3>
        <p>Vitae adipiscing turpis. Aenean ligula nibh in, molestie id viverra a, dapibus at dolor.</p>
        </div>
      </div>
     
    </div>
    <div class="row">
      <div class="datetime">
         <form action="" method="POST" role="form">
       
        <div class="form-group">
          <div id="datepicker-departure" class="input-group date" data-date-format="dd-mm-yyyy"> 
            <div class="nen"></div>
              <input class="form-control" readonly="" type="text" placeholder="Make a pointter">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"> </i>
              </span> 
          </div>
        </div>
      
      </form>
      </div>
    </div>

  
  </div>

</div>

<!-- end appointment -->
  <div class="nenxanh">
    <div class="container">
      <div class="row">
      <div class="col-sm-6">
      <div class="ba">
         <img src="img/doctor_welcome.jpg" alt="" class="img-responsive">
        <h3>Welcome to Our Clinic</h3>
        <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div> 
      </div>
      <div class="col-sm-3">
      
       <div class="mot">
        <div class="background-mot"></div>
          <h4>Opening hours</h4>
        <p>Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor.</p>
        <p class="day">Monday - Friday</p>
        <p class="thoigian">6 <span class="a">00</span>- 16 <span class="a">00</span></p>
        <hr>
         <p class="day">Staturday</p>
        <p class="thoigian">6 <span class="a">00</span>- 15 <span class="a">00</span></p>
       </div>
       
      </div>
      <div class="col-sm-3 ">
        <div class="hai">
           <div class="background-hai"></div>
               <h4>Get in touch</h4>
        <p><i class="fas fa-map-marker-alt"></i><span>EnvatoLevel 13, 2 Elizabeth St,Melbourne, Victoria 3000 Australia</span></p>
        <hr>
        <p><i class="fa fa-phone"></i><span>+0868258914</span></p>
        <hr>
        <p><i class="fa fa-envelope"></i><span>nhanking123@gmail.com</span></p>
        <hr>
        <p><i class="fas fa-link"></i><span>docsachhaylachet.com</span></p>

      
        </div> 
      </div>
      </div>
    </div>
  </div>
<!--     end nenxanh -->

<div class="about">
  <div class="container">
    <div class="row">
      <div class="tieude text-center">
        <p>QUICK FACTS ABOUT OUR CLINIC</p>
      <h1>See what we provide for your health</h1>
      </div>
      <div class="vien"> <hr><i class="fas fa-chevron-down"></i></div>
    
      <div class="col-sm-4 child-about">
        <div class="row">
          <div class="col-xs-3 sangphai">
            <i class="fas fa-user-friends"></i>
          </div>
          <div class="col-xs-9">
            <h5>Certified doctors</h5>
            <p>Vitae adipiscing turpis. Aenean ligula nibh in, molestie id viverra a, dapibus at dolor.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 child-about">
        <div class="row">
          <div class="col-xs-3 sangphai">
            <i class="fas fa-clock"></i>
          </div>
          <div class="col-xs-9">
            <h5>Quick visits</h5>
            <p>Vitae adipiscing turpis. Aenean ligula nibh in, molestie id viverra a, dapibus at dolor.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 child-about">
        <div class="row">
          <div class="col-xs-3 sangphai">
             <i class="fas fa-credit-card"></i>
          </div>
          <div class="col-xs-9">
            <h5>Card payments</h5>
            <p>Vitae adipiscing turpis. Aenean ligula nibh in, molestie id viverra a, dapibus at dolor.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 child-about">
        <div class="row">
          <div class="col-xs-3 sangphai">
            <i class="fas fa-user-friends"></i>
          </div>
          <div class="col-xs-9">
            <h5>Certified doctors</h5>
            <p>Vitae adipiscing turpis. Aenean ligula nibh in, molestie id viverra a, dapibus at dolor.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 child-about">
        <div class="row">
          <div class="col-xs-3 sangphai">
            <i class="fas fa-clock"></i>
          </div>
          <div class="col-xs-9">
            <h5>Quick visits</h5>
            <p>Vitae adipiscing turpis. Aenean ligula nibh in, molestie id viverra a, dapibus at dolor.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 child-about">
        <div class="row">
          <div class="col-xs-3 sangphai">
             <i class="fas fa-credit-card"></i>
          </div>
          <div class="col-xs-9">
            <h5>Card payments</h5>
            <p>Vitae adipiscing turpis. Aenean ligula nibh in, molestie id viverra a, dapibus at dolor.</p>
          </div>
        </div>
      </div>


     

    </div>
  </div>
</div>

<!-- end about -->

<div class="visit">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 text-center">
        <h3>Do you want to visit our clinic? Make an free appointment!</h3>
      </div>
      <div class="col-sm-4 text-center">
        <form action="" method="POST" role="form">

           <div class="input-group">
              <div class="nen"></div>
              <input class="form-control" readonly="" type="text" placeholder="Sig up the visit">
              <span class="input-group-addon">
               <i class="fas fa-pencil-alt"></i>
              </span> 
          </div>
      
        </form>
      </div>
    </div>
  </div>
</div>

<!-- end visit -->

<div class="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-7 col-md-6">
            <img src="img/girl1.jpg" alt="" class="img-responsive">
          </div>
          <div class="col-sm-5 col-md-6">
            <h4>dr. Jennifer Lee</h4>
            <p class="chuxam">Laryngologist</p>
            <hr>
            <p>
              Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor.
            </p>
             <ul class="cont">
              <li>
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <br><a href=""><i class="fab fa-facebook-f trong"></i></a>
              </li>
              <li >
                <a href=""><i class="fab fa-twitter"></i></a>
                <br><a href=""><i class="fab fa-twitter trong"></i></a>
              </li>
              <li >
                <a href=""><i class="fab fa-pinterest-p"></i></a>
                <br><a href=""><i class="fab fa-pinterest-p trong"></i></a>
              </li>
              <li >
                <a href=""><i class="fab fa-instagram"></i></a>
                <br><a href=""><i class="fab fa-instagram trong"></i></a>
              </li>

             
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-7 col-md-6">
            <img src="img/girl2.jpg" alt="" class="img-responsive">
          </div>
          <div class="col-sm-5 col-md-6">
            <h4>dr. Jennifer Lee</h4>
            <p class="chuxam">Laryngologist</p>
            <hr>
            <p>
              Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor.
            </p>
            <ul class="cont">
              <li>
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <br><a href=""><i class="fab fa-facebook-f trong"></i></a>
              </li>
              <li >
                <a href=""><i class="fab fa-twitter"></i></a>
                <br><a href=""><i class="fab fa-twitter trong"></i></a>
              </li>
              <li >
                <a href=""><i class="fab fa-pinterest-p"></i></a>
                <br><a href=""><i class="fab fa-pinterest-p trong"></i></a>
              </li>
              <li >
                <a href=""><i class="fab fa-instagram"></i></a>
                <br><a href=""><i class="fab fa-instagram trong"></i></a>
              </li>

             
            </ul>
           
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
<!-- 
end contact -->

<div class="bieudo">
  <div class="container">
    <div class="row">
      <img src="img/bieudo.png" alt="" class="img-responsive">
    </div>
  </div>
</div>

<!-- end bieudo -->


<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-center">
        © 2018 BeMedic - BeTheme. All Rights Reserved. Muffin group
      </div>
      <div class="col-sm-6">
         <ul class="fot">
          <li class="fab fa-facebook-f"></li>
          <li class="fab fa-twitter"></li>
          <li class="fab fa-pinterest-p"></li>
          <li class="fab fa-instagram"></li>
          <li class="fa fa-phone"></li>
          <li class="fa fa-envelope"></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="script.js" type="text/javascript" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://gsgd.co.uk/sandbox/jquery/easing/jquery.easing.1.3.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>


</body>
</html>
