		<!DOCTYPE html>
		<html lang="en">
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>Giày Dép</title>
			<link rel="stylesheet" href="assets/css/bootstrap.min.css">
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
			<link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
			<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
			<link rel="stylesheet" href="style.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

			<link rel="stylesheet" type="text/css" href="assets/css/slick.css"/>
			<link rel="stylesheet" type="text/css" href="assets/css/slick-theme.css"/>
		</head>
		<body>
			

			<!-- TOPBAR -->
			<section class="topbar ">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 d-flex align-items-center  d-none d-lg-flex d-xl-flex">
							<img src="assets/images/logo.png" alt="">
						</div>

						<div class="col-lg-4 d-flex align-items-center">
							
						</div>

						<div class="col-lg-4 d-none d-lg-flex d-xl-flex justify-content-end">
							<div class="topbar_add">
								<ul>
									<li><i class="fas fa-map-marker-alt"></i>
										<span>Cảng cạn, Phố Mới, Cửa Khẩu Lào Cai</span>
									</li>
									<li><i class="far fa-clock"></i>
										<span>8h - 23h, 24/24h, Các ngày trong tuần</span>
									</li>
									<li><i class="fas fa-phone-alt"></i>
										<span>Zalo 0963.838.236 - 0965.583.326</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- END TOPBAR -->

			<!-- MENU -->
			<section id="menu-screen">
				<div class="container">
					<div class="row">
						<div class="col-lg-9">
							<div class="header__menu d-none d-lg-flex d-xl-flex">
								<ul>
									<li  class="active">Trang chủ</li>
									<li>Giới thiệu</li>
									<li>Hình ảnh</li>
									<li>Bảng giá</li>
									<li>Tin tức</li>
									<li>Liên hệ</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3">
							<ul class="list-social d-none d-lg-flex d-xl-flex">
								<li><i class="fab fa-facebook-f"></i></li>
								<li><i class="far fa-envelope"></i></li>
								<li><i class="fas fa-phone-alt"></i></li>
								<li><i class="fas fa-search"></i></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- END MENU -->


			<!-- SLIDE -->
			<!-- Slide Home For Mobile -->
			<div class="slide-home">
				<div class="owl-carousel owl-theme" id="owl-slide-home">

					<div class="slide-home-item">
						<a href="">
							<img src="assets/images/slide2.png" alt="">
						</a>

					</div>
					

					<div class="slide-home-item">
						<a href="">
							<img src="assets/images/slide2.png" alt="">
						</a>

					</div>
				</div>
			</div>
			<!-- End Slide Home For Mobile -->


			<!-- END SLIDE -->


			<!-- SOLOGAN_2 -->

			<section class="sologan">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<div class="sologan_item">
								<img src="assets/images/sologan_dola.png" alt="">
								<div class="sologan_item_content">
									<div class="sologan_item_content_title">
										<h3>BẠN ĐANG TÌM NGUỒN SỈ GIÀY DÉP GIÁ TẬN GỐC ❓</h3>
										<p>👠Bạn muốn bán được thật nhiều hàng❓ Bạn muốn canh tranh lại với đối thủ❓ 🆗Vâng gặp tôi.! Bạn sẽ không phải lo lắng về giá nhập sản phẩm nữa 👉VÌ TÔI BÁN SỈ RẺ NHẤT VIỆT NAM🇻🇳</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4">
							<div class="sologan_item">
								<img src="assets/images/sologan_giay.jpg" alt="">
								<div class="sologan_item_content">
									<div class="sologan_item_content_title">
										<h3>BẠN ĐANG TÌM NGUỒN SỈ GIÀY DÉP GIÁ TẬN GỐC ❓</h3>
										<p>👍Bạn luôn muốn khách hàng hài lòng về sản phẩm của bạn❓ 🏃Bạn muốn nhiều khách tìm đến bạn❓ 🆗Tôi sẽ luôn đáp ứng được cho bạn 👉VÌ TÔI KHO GIÀY QC LỚN NHẤT VIỆT NAM🇻🇳</p>
									</div>
								</div>
							</div>
							
						</div>

						<div class="col-lg-4">
							<div class="sologan_item">
								<img src="assets/images/sologan_zalo.png" alt="">
								<div class="sologan_item_content">
									<div class="sologan_item_content_title">
										<h3>BẠN ĐANG TÌM NGUỒN SỈ GIÀY DÉP GIÁ TẬN GỐC ❓</h3>
										<p>ZALO Hotline 1 : 0963.838.236
											ZALO Hotline 2 : 0965.583.326
											ZALO Hotline 3 : 0969.628.356
										ZALO Hotline 4 : 0964.123.246</p>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</section>

			<!-- END SOLOGAN_2 -->


			<!-- SERVICE -->
			<section class="service">
				<div class="container">
					<div class="title text-center">
						<h3>CHÚNG TÔI CHUYÊN CUNG CẤP HÀNG BÁN ONLINE LIVE STREAM VÀ SHOP CỬA HÀNG
						</h3>
						<img src="assets/images/title_bg.png" alt="">

						<p>
							Tổng kho giày dép quảng châu. Chuyên kinh doanh bán buôn – bán lẻ các mặt hàng giầy dép Quảng Châu ( người lớn và trẻ em ) – hàng sỉ theo lô, ôm tách lô lẻ size – hàng sỉ theo ri đủ size 35/39 hoặc 39/44 – hàng sỉ theo kiện đủ size – hàng túi xách, phụ kiện thời trang có đủ cả theo nhu cầu!
						</p>
					</div>
					

					<div id="owl-service" class="owl-carousel owl-theme">
						<div class="service_item">
							<div class="service_item_img">
								<a href="">
									<img src="assets/images/service_item.jpg" alt="">
								</a>
							</div>
							<div class="service_item_content">

								<h4 class="service_item_content_title">
									<a href="<?php the_permalink(); ?>">
										Lô giày cao gót
									</a>
								</h4>
								<p>Giày cao gót có nhiều dạng ( gót trụ, gót nhọn, gót cao, gót thấp..v..v..</p>
								<a class="xemthem" href="#">Xem thêm</a>
							</div>
						</div>


						<div class="service_item">
							<div class="service_item_img">
								<a href="">
									<img src="assets/images/service_item.jpg" alt="">
								</a>
							</div>
							<div class="service_item_content">

								<h4 class="service_item_content_title">
									<a href="<?php the_permalink(); ?>">
										Lô giày cao gót
									</a>
								</h4>
								<p>Giày cao gót có nhiều dạng ( gót trụ, gót nhọn, gót cao, gót thấp..v..v..</p>
								<a class="xemthem" href="#">Xem thêm</a>
							</div>
						</div>


						<div class="service_item">
							<div class="service_item_img">
								<a href="">
									<img src="assets/images/service_item.jpg" alt="">
								</a>
							</div>
							<div class="service_item_content">

								<h4 class="service_item_content_title">
									<a href="<?php the_permalink(); ?>">
										Lô giày cao gót
									</a>
								</h4>
								<p>Giày cao gót có nhiều dạng ( gót trụ, gót nhọn, gót cao, gót thấp..v..v..</p>
								<a class="xemthem" href="#">Xem thêm</a>
							</div>
						</div>


						<div class="service_item">
							<div class="service_item_img">
								<a href="">
									<img src="assets/images/service_item.jpg" alt="">
								</a>
							</div>
							<div class="service_item_content">

								<h4 class="service_item_content_title">
									<a href="<?php the_permalink(); ?>">
										Lô giày cao gót
									</a>
								</h4>
								<p>Giày cao gót có nhiều dạng ( gót trụ, gót nhọn, gót cao, gót thấp..v..v..</p>
								<a class="xemthem" href="#">Xem thêm</a>
							</div>
						</div>


						<div class="service_item">
							<div class="service_item_img">
								<a href="">
									<img src="assets/images/service_item.jpg" alt="">
								</a>
							</div>
							<div class="service_item_content">

								<h4 class="service_item_content_title">
									<a href="<?php the_permalink(); ?>">
										Lô giày cao gót
									</a>
								</h4>
								<p>Giày cao gót có nhiều dạng ( gót trụ, gót nhọn, gót cao, gót thấp..v..v..</p>

							</div>
							<a class="xemthem" href="#">Xem thêm</a>
						</div>


					</div>
				</div>
			</section>


			<!-- END SERVICE -->

			<!-- SERVICE -->

			<section class="choose">
				<div class="container">
					<div class="title text-center">
						<h3>
							VÌ SAO NÊN CHỌN CHÚNG TÔI
						</h3>
						<img src="assets/images/title_bg.png" alt="">

						<p>
							Chúng tôi tự hào là một trong những viện thẩm mỹ uy tín và hoạt động lâu đời.
							Bởi thế, chúng tôi có nhiều điều khiến quý khách hàng tin tưởng và lựa chọn trong suốt những năm vừa qua
						</p>
					</div>

					<div class="row">

						<div class="col-lg-3 col-md-6">
							<div class="choose_item">
								<div class="choose_item_img">
									<img src="assets/images/choose.png" alt="">
								</div>

								<div class="choose_item_content">
									<h4>Không gian sang trọng</h4>
									<p>Sang trọng và đẳng cấp là 2 từ để miêu tả không gian của chúng tôi. Bạn hoàn toàn thư giãn và an tâm nhất tại đây.</p>

								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-6">
							<div class="choose_item">
								<div class="choose_item_img">
									<img src="assets/images/choose.png" alt="">
								</div>

								<div class="choose_item_content">
									<h4>Không gian sang trọng</h4>
									<p>Sang trọng và đẳng cấp là 2 từ để miêu tả không gian của chúng tôi. Bạn hoàn toàn thư giãn và an tâm nhất tại đây.</p>

								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-6">
							<div class="choose_item">
								<div class="choose_item_img">
									<img src="assets/images/choose.png" alt="">
								</div>

								<div class="choose_item_content">
									<h4>Không gian sang trọng</h4>
									<p>Sang trọng và đẳng cấp là 2 từ để miêu tả không gian của chúng tôi. Bạn hoàn toàn thư giãn và an tâm nhất tại đây.</p>

								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-6">
							<div class="choose_item">
								<div class="choose_item_img">
									<img src="assets/images/choose.png" alt="">
								</div>

								<div class="choose_item_content">
									<h4>Không gian sang trọng</h4>
									<p>Sang trọng và đẳng cấp là 2 từ để miêu tả không gian của chúng tôi. Bạn hoàn toàn thư giãn và an tâm nhất tại đây.</p>

								</div>
							</div>
						</div>

					</div>
				</div>
			</section>

			<!-- END SERVICE -->


			<!-- VIDEO -->

			<!-- <section class="video">
				<div class="container">
					<h3>
						<i class="fas fa-play"></i>VIDEO GIỚI THIỆU
					</h3>


					<div class="video_content">
						<iframe width="100%" height="630" src="https://www.youtube.com/embed/tgbNymZ7vqY">
						</iframe>
					</div>
				</div>
			</section> -->

			<!-- END VIDEO -->

			<!-- FOOTER -->

			<section class="footer_main">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<img src="assets/images/logo.png" alt="">

							<ul class="footer_main_list">
								<li>
									<strong>Địa chỉ </strong>: 441A Nguyễn Văn Đậu - Phường 6 - Quận Bình Thạnh - TpHCM
								</li>

								<li>
									<strong>Điện Thoại </strong>: 0123.456.789
								</li>

								<li>
									<strong>Hotline </strong>: 01235.687.590
								</li>

								<li>
									<strong>Email </strong>: spademo@gmail.com
								</li>


								<li>
									<strong>Website </strong>: spademo.com
								</li>
							</ul>
						</div>

						<div class="col-lg-4">
							<h3>Để lại thông tin để tư vấn</h3>
							<div class="footer_main_form">
								<input placeholder="Họ và tên" type="text">
								<input placeholder="Số điện thoại" type="text">
								<textarea placeholder="Đặt câu hỏi..." name="" id="" cols="30" rows="10"></textarea>
								<input class="sub_mit" type="button" value="Gửi câu hỏi">
							</div>
						</div>

						<div class="col-lg-4">
							<div class="fan__page">
								<h3>Theo dõi fanpage</h3>
								<p>Mời bạn theo dõi Fanpage chính thức của chúng tôi để không bỏ qua chương trình ưu đãi nào.</p>

								<div class="fanpage">
									<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fgiaystore.vn%2F&tabs=timeline&width=340&height=210&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=688230861719985" width="340" height="210" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
								</div>
							</div>
						</div>


					</div>
				</div>
			</section>

			<!-- END FOOTER -->

			<!-- COPYRIGHT -->

			<section class="copy">
				<div class="container">
					<div class="copy_content">
						
						<p>
							Kho giầy Hiếu Hồng Tại Cửa Khẩu Quốc Tế Lào Cai - Giao Hàng Trên Toàn Quốc - Uy Tín Chất Lượng - Website Đã Đăng Ký Bản Quyền!
						</p>

						<span>Hotline Hiếu: 0963838236</span>
					</div>
				</div>
			</section>




			<section class="list__social">
				<ul>
					<li>
						<img src="assets/images/icon-thanh-toan.png" alt="">
						<p>Bảng giá</p>
					</li>
					<li>
						<img src="assets/images/icon-qua-tang.png" alt="">
						<p>Khuyến mãi</p>
					</li>
					<li>
						<img src="assets/images/icon-tu-van.png" alt="">
						<p>Tư vấn</p>
					</li>
					<li>
						<img src="assets/images/icon-lien-he.png" alt="">
						<p>Liên hệ</p>
					</li>
				</ul>
			</section>
			<!-- end hotline -->


			<section class="list_hotline">
				<ul>
					<li><a href="">Chat Zalo</a></li>
					<li><a href="">Chat Facebook</a></li>
					<li><a href="">Hotline: 0963838236</a></li>
				</ul>
			</section>


			<!-- END COPY RIGHT -->
			<script src="assets/js/jquery-3.5.1.min.js"></script>
			<script src="assets/js/bootstrap.js" ></script>
			<script src="assets/js/owl.carousel.min.js"></script>
			<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
			<script type="text/javascript" src="assets/js/jquery.simplyscroll.min.js">

			</script>
			<link rel="stylesheet" href="assets/css/jquery.simplyscroll.css" media="all" 
			type="text/css">
			<script type="text/javascript" src="assets/js/slick.min.js"></script>
			<script src="assets/js/script.js"></script>


		</body>
		</html>
