<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="style.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700,900" rel="stylesheet">


		<link rel="stylesheet" href="fontawesome/css/all.min.css">

	</head>

	<body>
		<nav class="navbar navbar-default " role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button class="toggle-icon">
						<span></span>
					</button>
					<a class="navbar-brand" href="#"><img class="img-responsive" src="img/logo.png" alt=""></a>
				</div>
		
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class=" navbar">
					
					<ul class="nav navbar-nav navbar-right">
						<button class="nuttat">
							<i class="fas fa-times"></i>
						</button>
						<li><a href="#">Datavison</a></li>
						<li><a href="#">Product</a></li>
						<li><a href="#">Link</a></li>
						
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div>
		</nav>

		
			<div class="header">
				<div class="container">
					
						<div class="noidung">
					<p>
						những chiếc giỏ xe chở đầy hoa phượng em chở mùa hè của tôi đi đâu.
					</p>

					<button class="btn btn-danger">Read more</button>
				</div>
				</div>

			
			
	
		</div>

		
			
				<div class="matudi">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<img src="img/image2.png" alt="" class="img-responsive">
						</div>
						<div class="col-sm-6">
							<div class="content">
								<h3 class="tieude">Vision</h3>
							<p class="p-content">những chiếc giỏ xe chở đầy hoa phượng em chở mùa hè của tôi đi đâu chùm phượng vỹ em cầm là tuổi tôi mười tám thuở chẳng ai hay thầm lặng mối tình đầu mối tình đầu của tôi.</p>
							<button class="btn btn-danger">Read more</button>
							</div>
							
						</div>
						
					</div>
				</div>
				
			</div>
	

			<div class="datavision">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<div class="content">
								<h3 class="tieude">Matudi</h3>
							<p class="p-content">những chiếc giỏ xe chở đầy hoa phượng em chở mùa hè của tôi đi đâu chùm phượng vỹ em cầm là tuổi tôi mười tám thuở chẳng ai hay thầm lặng mối tình đầu mối tình đầu của tôi.</p>
							<button class="btn btn-danger">Read more</button>
							</div>
							
						</div>
						<div class="col-sm-6">
							<img src="img/image2.png" alt="" class="img-responsive">
						</div>
					</div>
				</div>
				
			</div>

			<div class="brand">
					<div class="container">
					<h3 class="tieude">
						Brand trust of experise
					</h3>
						
					<div class="row brand-items">
						<div class="brand-item col-xs-6 col-sm-4 col-md-2">
							<img src="img/bml_color.png" alt="" class="img-responsive">
						</div>
						<div class="brand-item col-xs-6 col-sm-4 col-md-2">
							<img src="img/bml_color.png" alt="" class="img-responsive">
						</div>
						<div class="brand-item col-xs-6 col-sm-4 col-md-2">
							<img src="img/bml_color.png" alt="" class="img-responsive">
						</div>
						<div class="brand-item col-xs-6 col-sm-4 col-md-2">
							<img src="img/bml_color.png" alt="" class="img-responsive">
						</div>
						<div class="brand-item col-xs-6 col-sm-4 col-md-2">
							<img src="img/bml_color.png" alt="" class="img-responsive">
						</div>
						<div class="brand-item col-xs-6 col-sm-4 col-md-2">
							<img src="img/bml_color.png" alt="" class="img-responsive">
						</div>
						<div class="brand-item col-xs-6 col-sm-4 col-md-2">
							<img src="img/bml_color.png" alt="" class="img-responsive">
						</div>
						<div class="brand-item col-xs-6 col-sm-4 col-md-2">
							<img src="img/bml_color.png" alt="" class="img-responsive">
						</div>
						<div class="brand-item col-xs-6 col-sm-4 col-md-2">
							<img src="img/bml_color.png" alt="" class="img-responsive">
						</div>
						<div class="brand-item col-xs-6 col-sm-4 col-md-2">
							<img src="img/bml_color.png" alt="" class="img-responsive">
						</div>
						<div class="brand-item col-xs-6 col-sm-4 col-md-2">
							<img src="img/bml_color.png" alt="" class="img-responsive">
						</div>
						<div class="brand-item col-xs-6 col-sm-4 col-md-2">
							<img src="img/bml_color.png" alt="" class="img-responsive">
						</div>

					</div>
					</div>
				
			</div>
			</div>
			


		

			<footer>
				<div class="container">
					<div class="row">
				<div class="col-sm-3 logo">
					<img src="img/logo.png" alt="" class="img-responsive">
					<p class="text-footer">
					Copyright © 2019 Hashcom Pte. Ltd. <br>
					 All Rights Reserved. 
				</p>
				</div>

				<div class="col-sm-3 address">
					<h3 class="title-fo">
						Header quaitily

					</h3>
					<ul class="fot">
						<li class="text-footer">
							33A Change road,Singabor,25543
						</li>
						<li class="text-footer">
							www.hash.com
						</li>
					</ul>

				</div>
				<div class="col-sm-3 lenga">
					<h3 class="title-fo">
						Lenga

					</h3>
					<ul class="fot">
						<li class="text-footer">
							Team of service
						</li>
						<li class="text-footer">
							Prive police
						</li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h3 class="title-fo">
						Follow Us

					</h3>
					<ul class="fot folow">
						<li class="text-footer">
							<i class="fab fa-facebook"></i>
						</li>
						<li class="text-footer">
							<i class="fab fa-linkedin-in"></i>
						</li>
					</ul>
				</div>
			</div>
				</div>
			</footer>
			


	

	<script src="js/jquery-3.3.1.min.js"></script>	
	<script src="js/bootstrap.min.js"></script>

	<script type="text/javascript" src="js.js"></script>
	</body>
</html>