* {
    padding: 0;
    margin: 0;
}





.congviec ul li {
    list-style: none;
    display: none;
}

.congviec ul li.active {
    display: block !important;
}

img.img-responsive {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.khoiload {
    position: absolute;
    top: 43%;
    height: 100px;
    width: 100px;
    background: #e74c3c;
    left: 50%;
    border-radius: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.loadding {

    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: -o-linear-gradient(top left, #50a3a2 0%, #2eca7f 100%);
    background: -webkit-gradient(linear, left top, right bottom, from(#50a3a2), to(#2eca7f));
    background: linear-gradient(to bottom right, #50a3a2 0%, #2eca7f 100%);
}

.container.trangchu {
    z-index: 100;
    position: relative;
}

ul#khoixanh {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 9;
    bottom: 0;
}


@-webkit-keyframes square {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        top: 100%;


    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
        top: -20%
    }
}


ul#khoixanh li {
    position: absolute;
    list-style: none;
    display: block;
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, .1);
    bottom: -320px;
    -webkit-animation: square 50s infinite;
    animation: square 50s infinite;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}


ul#khoixanh li#ovuong9 {
    left: 72%;
    height: 50px;
    width: 50px;
    -webkit-animation-delay: 16s;
    animation-delay: 16s;
    -webkit-animation-duration: 13s;
    animation-duration: 13s;
}

ul#khoixanh li#ovuong8 {
    left: 56%;
    height: 49px;
    width: 49px;
    -webkit-animation-delay: 12s;
    animation-delay: 12s;
    -webkit-animation-duration: 11s;
    animation-duration: 11s;
}

ul#khoixanh li#ovuong7 {
    left: 39%;
    height: 75px;
    width: 75px;
    -webkit-animation-delay: 20s;
    animation-delay: 20s;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
}

ul#khoixanh li#ovuong6 {
    height: 80px;
    width: 80px;
    left: 65%;
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
    -webkit-animation-duration: 15s;
    animation-duration: 15s;
}

ul#khoixanh li#ovuong5 {
    height: 140px;
    width: 140px;
    left: 30%;
    -webkit-animation-delay: 20s;
    animation-delay: 20s;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
}

ul#khoixanh li#ovuong4 {
    left: 58%;
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
    -webkit-animation-duration: 15s;
    animation-duration: 15s;
    height: 13px;
    width: 13px;
}

ul#khoixanh li#ovuong3 {
    left: 45%;
    height: 97px;
    width: 97px;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
    -webkit-animation-duration: 13s;
    animation-duration: 13s;
}

li#ovuong2 {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
    height: 200px;
    left: 53%;
    width: 200px;
    -webkit-animation-timing-function: cubic-bezier(.17, .67, .86, .43);
    animation-timing-function: cubic-bezier(.17, .67, .86, .43);
}

ul#khoixanh li#ovuong1 {
    left: 20%;
    height: 120px;
    width: 120px;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

p.ten {
    color: black;
}

.contacts button {
    background: #00000033;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 10px 50px;
    text-transform: uppercase;
    border-radius: 8px;
    color: #000000a1;
    margin-top: 10px;
}

.contacts ul.thongtin {
    margin-top: 15px;
}

.contacts ul.thongtin li {
    font-size: 14px;
}

.contacts ul.thongtin li strong {
    font-size: 15px;
}

form input {
    height: 45px;
    width: 49%;
    margin-bottom: 20px;
    color: black;
    font-size: 14px;
    padding-left: 10px;
}

.nav-tabs {
    position: absolute;
    top: 23px;
    right: 35px;
    display: inline;
    border: none;
}

.nav-tabs>li>a {
    border: none;
}

.nav-tabs>li>a:hover {
    border: none;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border: none;
}

.progress-bar.bg-success {
    background: #45af97;
}

.progress {
    height: 4px;
}

.item p {
    font-size: 17px;
    color: #808080;
}

p.tencty {
    color: #ccc;
    font-size: 16px;
}

.dong1,
.dong2 {
    padding-top: 16px;
}

p.thoigian {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 16px;
    text-align: center;
    border: 1px solid #dddddd;
    padding: .2rem .5rem;
}

p.thoigian.active {
    color: #46af98 !important;
    border: 1px solid #46ae98;
}

p.thoigian.active {}

h4.tieudenho i {
    color: #46af98;
    font-size: 25px;
}

h4.tieudenho {
    color: black;
    text-transform: uppercase;
    font-size: 21px;
    padding: 0 0 30px;
}

h4.tieudenho span {
    padding: 0 15px;
}

p {
    font-size: 18px;
}

ul.anh-jobs li p.loaiweb:hover {
    border-color: green;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    color: green;
}

p.loaiweb {
    font-size: 15px;
    border: 1px solid;
    width: 100px;
    margin: 0 auto;
    color: #00000052;
}

p.vitri {
    color: black;
    font-weight: 600;
}

p.icons-xanh i {
    background: #43b394;
    color: white;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
}

strong {
    font-size: 19px;
}

h3 {
    font-size: 24px;
}

.row.dong2 {
    text-align: center;
}

p.icons {
    text-align: center;
}

p.icons i {
    color: white;
    font-size: 21px;
    background: #41b592;
    height: 35px;
    width: 35px;
    padding-top: 8px;
    border-radius: 50%;
}

span.firt-word {
    color: #47ad99;
}

.col-sm-6.left:before {
    position: absolute;
    content: '';
    top: 0;
    height: 100%;
    width: 1px;
    left: 100%;
    background: -o-radial-gradient(center, ellipse, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(ellipse at center, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
}

.nenxanh {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #50a3a2;
    background: -o-linear-gradient(top left, #50a3a2 0%, #2eca7f 100%);
    background: -webkit-gradient(linear, left top, right bottom, from(#50a3a2), to(#2eca7f));
    background: linear-gradient(to bottom right, #50a3a2 0%, #2eca7f 100%);
}

body,
html {
    height: 100%;
    width: 100%;
    font-family: 'Poppins';
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.col-md-4.info {
    min-height: 70vh;
    background: white;
    padding: 0;
    overflow: hidden;
    border-radius: 8px;
    max-height: 655px;
    -webkit-box-shadow: -9px -11px 1px #3eb78f;
    box-shadow: -9px -11px 1px #3eb78f;
}

h3.tieude {
    position: relative;
    margin-top: 0;
    margin-bottom: 16px;
}

h3.tieude:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -20px;
    left: 0;
    background: -o-radial-gradient(center, ellipse, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(ellipse at center, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
}

h3.tieude:before {
    content: "";
    height: 30px;
    width: 30px;
    background: #3cb98e;
    position: absolute;
    opacity: 0.3;
    border-radius: 50%;
}

ul.thongtin li {
    margin-bottom: 10px;
    list-style: none;
    text-align: right;
    font-size: 17px;
}

ul.thongtin li {}

ul.nav-tabs li {
    display: inline;
    margin: 10px;
    font-size: 14px;
    text-transform: uppercase;
}

ul.nav-tabs li a {
    color: black;
}

ul.thongtin strong {
    padding: 0 5px;
    background: #3bbc8c;
    color: white;
    float: left;
}

.tong-noidung {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    height: 68vh;
    overflow: hidden;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

ul.list-menu {
    width: 67px;
    border-radius: 8px;
    background: white;
    margin-top: 10px;
}

ul.list-menu li:hover a {
    color: #49ac9b;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

a:active {
    text-decoration: none;
}

ul.list-menu li a {
    color: black;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

ul.list-menu li i {
    font-size: 18px;
    display: block;
    margin-bottom: 7px;
}

ul.list-menu li {
    list-style: none;
    text-align: center;
    position: relative;
    padding: 20px 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
}

ul.list-menu li:after {
    content: "";
    height: 1px;
    width: 100%;
    background: -o-radial-gradient(center, ellipse, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(ellipse at center, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
    position: absolute;
    bottom: 0;
    left: 0;
}

span.icon {
    position: absolute;
    content: "";
    background: black;
    height: 2px;
    width: 52%;
    top: 50%;
    left: 22%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

span.icon:after {
    position: absolute;
    content: "";
    background: black;
    height: 2px;
    width: 73%;
    top: 12px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

span.icon:before {
    position: absolute;
    content: "";
    background: black;
    height: 2px;
    width: 60%;
    top: -10px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.icon-menu {
    height: 72px;
    width: 67px;
    background: white;
    position: relative;
    border-radius: 8px;
}

.icon-menu:hover span.icon {
    background: #48ac9a;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.icon-menu:hover span.icon:after {
    width: 100%;
    background: #46ae97;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.icon-menu:hover span.icon:before {
    width: 100%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: #48ac9a;
}

.col-xs-6.text-center {
    padding-top: 16px;
}

.col-xs-6.text-center.left:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background: -o-radial-gradient(center, ellipse, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(ellipse at center, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: 100%;
}

.col-xs-6.text-center:before {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    background: -o-radial-gradient(center, ellipse, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(ellipse at center, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
    left: 0;
}

.col-xs-6.text-center:before {
    top: 0;
    left: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: -o-radial-gradient(center, ellipse, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(ellipse at center, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
}

.row.lienhe {
    margin-top: 68px;
}

.row.lienhe p a {
    font-size: 16px;
    text-transform: uppercase;
    color: #000000b8;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}

.row.lienhe p a:hover {
    color: #43b394;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}

.image {
    position: relative;
    overflow: hidden;
    height: 550px;
}

.image:after {
    z-index: 0;
    /* content: ""; */
    height: 41%;
    width: 100%;
    bottom: -41px;
    -webkit-transform: rotate(-27deg);
    -ms-transform: rotate(-27deg);
    transform: rotate(-27deg);
    right: -88px;
    content: '';
    position: absolute;
    background: white;
}

.profile {
    position: relative;
    margin-top: -93px;
}

.image:before {
    position: absolute;
    content: "";
    height: 41%;
    width: 100%;
    background: white;
    bottom: -43px;
    -webkit-transform: rotate(27deg);
    -ms-transform: rotate(27deg);
    transform: rotate(27deg);
    left: -89px;
    z-index: 0;
}

h1.text-center {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400;
}

h3.text-center.congviec {
    font-size: 1.8rem;
    margin-top: -5px;
    color: #38bf8a;
    font-family: 'Poppins', sans-serif;
}

ul.contact li {
    display: inline;
    margin: 0 8px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

ul.contact li img {
    height: 48px;
}

ul.contact li:hover i {
    color: #45b097;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

ul.contact {
    width: 100%;
    text-align: center;
}




.col-md-12.noidung {
    background: white;
    -webkit-transform: translateX(-848px);
    -ms-transform: translateX(-848px);
    transform: translateX(-848px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    height: 100%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.col-md-12.noidung.active {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    border-top-right-radius: 8px;
    overflow: auto;
    padding: 16px;
}





.ovuong {
    -webkit-animation: xoay 60s forwards;
    animation: xoay 60s forwards;
    position: relative;
    list-style: none;
    border-radius: 5px;
    margin-left: 100px;
    position: absolute;
    z-index: 0;
}

@-webkit-keyframes xoay {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

a {
    text-decoration: none;

}

a:hover {
    text-decoration: none;
}

@media(min-width: 581px) and (max-width: 993px) {
    .image:before {

        bottom: -90px !important;

    }

    .image:after {
        bottom: -90px !important;

    }
}


@media screen and (max-width:991px) {
    .tong-noidung {
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
        height: auto;
    }

    .col-md-12.noidung {
        padding: 10px;
        position: relative;
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
    }


    .menu {
        left: 1%;
        position: fixed;
        z-index: 10;
    }

    .col-md-4.info {
        overflow: hidden;
        margin: 0 auto;
        padding: 0 70px;
    }

    .col-md-7.tong-noidung {
        padding: 0 0px;
        margin: 10px auto;
    }

    .image {
        text-align: center;
    }

    .image img {
        margin: 0 auto;
    }





}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    display: none;
    width: 8px;
    background-color: #F5F5F5;
}

.tong-noidung:hover ::webkit-scrollbar {
    display: block;
}

ul.anh-jobs {
    width: 100%;
    list-style: none;
}

.tab-content>.active {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}


ul.anh-jobs li img {
    width: 100%;
    height: auto;

}

ul.anh-jobs li a {
    width: 100%;
    display: block;
}

ul.anh-jobs li {
    border: 1px solid #3333;
    padding: 1rem;
    max-height: 29rem;
}

ul.anh-jobs li video {
    width: 100%;
    height: auto;

}

video.fancybox-video {
    display: block !important;
}

#map {
    height: 250px;
}



@media screen and (max-width:996px) {
    ul.nav-tabs {

        top: 31px;
    }

    @media screen and (max-width:518px) {
        ul.nav-tabs {

            position: unset;
        }
    }


    @media screen and (max-width: 488px) {
        .profile {
            margin-top: -50px;
        }
    }


}

@media screen and (max-width:930px) {
    .menu {

        width: 100%;

        position: relative;

        top: -24px;

        background: white;

        left: 0;

        border-radius: 8px;
    }

    .icon-menu {
        display: none;
    }

    ul.list-menu {

        display: -webkit-inline-box;

        display: -ms-inline-flexbox;

        display: inline-flex;

        width: 100%;

        margin: 0 auto;

        text-align: center;

        -webkit-transition: all 1s;

        -o-transition: all 1s;

        transition: all 1s;
    }

    ul.list-menu.biendoi {
        position: fixed;
        left: 0;
        top: 0;
        border-radius: 0;
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }

    ul.list-menu li {

        text-align: center;

        margin: 0 auto;

    }

}

@media (min-width: 993px) and (max-width: 1200px) {
    .menu {
        padding-left: 0px !important;
    }
}