*{
  padding: 0;
  margin: 0;}

h3.tieude {
    position: relative;
    margin-bottom: 50px;
}

h3.tieude:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -20px;
    left: 0;
    background: -moz-radial-gradient(center, ellipse cover, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
    background: -webkit-radial-gradient(center, ellipse cover, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(ellipse at center, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
}

h3.tieude:before {
    content: "";
    height: 30px;
    width: 30px;
    background: #3cb98e;
    position: absolute;
    opacity: 0.3;
    border-radius: 50%;
}

ul.thongtin li {
    margin-bottom: 10px;
    list-style: none;
    text-align: right;
}

li {}

ul.thongtin strong {
    padding: 0 5px;
    background: #3bbc8c;
    color: white;
    float: left;
}

.tong-noidung {
    height: 100%;
    /* width: 100%; */
    /* position: absolute; */
    /* right: 0; */
    overflow: hidden;
}

ul.list-menu {border-radius: 8px;background: white;margin-top: 10px;}

ul.list-menu li:hover a {
    color: #49ac9b;
    transition: all 0.5s;
}

a:active {
    text-decoration: none;
}

ul.list-menu li a {
    color: black;
    transition: all 0.5s;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

ul.list-menu li i {
    font-size: 18px;
    display: block;
    margin-bottom: 7px;
}

ul.list-menu li {
    list-style: none;
    text-align: center;
    position: relative;
    padding: 20px 0;
    transition: all 0.5s;
    cursor: pointer;
}

ul.list-menu li:after {
    content: "";
    height: 1px;
    width: 100%;
    background: -moz-radial-gradient(center, ellipse cover, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
    background: -webkit-radial-gradient(center, ellipse cover, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(ellipse at center, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
    position: absolute;
    bottom: 0;
    left: 0;
}

span.icon {
    position: absolute;
    content: "";
    background: black;
    height: 2px;
    width: 52%;
    top: 50%;
    left: 22%;
    transition: all 0.5s;
}

span.icon:after {
    position: absolute;
    content: "";
    background: black;
    height: 2px;
    width: 73%;
    top: 12px;
    transition: all 0.5s;
}

span.icon:before {
    position: absolute;
    content: "";
    background: black;
    height: 2px;
    width: 60%;
    top: -10px;
    transition: all 0.5s;
}

.icon-menu {
    height: 72px;
    width: 100%;
    background: white;
    position: relative;
    border-radius: 8px;
}

.icon-menu:hover span.icon {
    background: #48ac9a;
    transition: all 0.5s;
}

.icon-menu:hover span.icon:after {
    width: 100%;
    background: #46ae97;
    transition: all 0.5s;
}

.icon-menu:hover span.icon:before {
    width: 100%;
    transition: all 0.5s;
    background: #48ac9a;
}

.col-xs-6.text-center {
    padding-top: 16px;
}

.col-xs-6.text-center.left:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background: background: -moz-radial-gradient(center, ellipse cover, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
    background: -webkit-radial-gradient(center, ellipse cover, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(ellipse at center, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: 100%;
}

.col-xs-6.text-center:before {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    background: background: -moz-radial-gradient(center, ellipse cover, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
    background: -webkit-radial-gradient(center, ellipse cover, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(ellipse at center, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
    left: 0;
}

.col-xs-6.text-center:before {
    top: 0;
    left: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: -moz-radial-gradient(center, ellipse cover, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
    background: -webkit-radial-gradient(center, ellipse cover, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(ellipse at center, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
}

.row.lienhe {
    margin-top: 127px;
}

.row.lienhe p a {
    font-size: 16px;
    text-transform: uppercase;
    color: #000000b8;
    transition: all 0.8s;
}

.row.lienhe p a:hover {
    color: #43b394;
    transition: all 0.8s;
}

.row.lienhe p {}

.image {
    overflow: hidden;
}

.image:after {
    z-index: 0;
    /* content: ""; */
    height: 41%;
    width: 100%;
    bottom: 88px;
    transform: rotate(-27deg);
    right: -88px;
    content: '';
    position: absolute;
    background: white;
}

.profile {
    position: relative;
    margin-top: -134px;
}

.image:before {
    position: absolute;
    content: "";
    height: 41%;
    width: 100%;
    background: white;
    bottom: 75px;
    transform: rotate(27deg);
    left: -89px;
    z-index: 0;
}

h1.text-center {font-family: 'Poppins', sans-serif!important;font-weight: 400;}

h3.text-center.congviec {
    font-size: 1.8rem;
    margin-top: -5px;
    color: #38bf8a;
    font-family: 'Poppins', sans-serif;
}

ul.contact li {
    display: inline;
    margin: 0 8px;
    transition: all 0.5s;
}

ul.contact li:hover i {
    color: #45b097;
    transition: all 0.5s;
}

ul.contact {
    width: 100%;
    text-align: center;
}

.col-sm-12.noidung {
    width: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    left: 134px;
    position: absolute;
    height: 100%;
    transition: all 0.8s;
}



.col-sm-12.noidung {
  background: white;
    transform: translateX(-848px);
}

.col-sm-12.noidung.active {
    transform: translateX(-134px);
}

.col-sm-4.info {
    z-index: 1;
    padding: 0;
    border-radius: 8px;
    position: relative;
    background: white;
    height: 110%;
    margin-left: 15px;
    margin-top: -25px;
    overflow: hidden;
    box-shadow: -8px -9px 3px 5px #3bbc8c;
}

.col-sm-1.menu {
    height: 100%;
    position: relative;
    margin-left: -15px;
    z-index: 12;
}


.container.trangchu {
    padding: 0;
    height: 650px;

    margin-top: 172px;
    position: relative;
    z-index: 1;
}




.content {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #29b185;
    background: linear-gradient(to bottom right, #50a3a2 0%, #2eca7f 100%);
    z-index: 1;
}

body,html {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.ovuong{animation: xoay 70s forwards;position: relative;list-style:none;border-radius: 5px;background: #ffffff24;margin-left: 100px;}

@-webkit-keyframes xoay{0%{
                          transform: rotate(0deg);}
                          100%{transform:rotate(-360deg);}}

ul#khoixanh{
  z-index: 1;
  width: 100%;
  position: absolute;
  height: 100%;
  left: 0;
  top: 100%;

}
a{
  text-decoration: none;

}
a:hover{
text-decoration: none;
}



